.canvas{
    width: 500px;
    height: 500px;
    border: 2px black solid;
}

.ball{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transition: all .3s ease-out;
}